<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>トップページ</title>
</head>
<body>
    <div>
        こんにちは,
    </div>
    {% for i in a %}
    <p>{{i}}</p>
    {% endfor %}
    <div>==============================================================================</div>
    <div>cronによるテキストデータの変更</div>
    <div>==============================================================================</div>
    <div>
        {{b}}
    </div>
</body>
</html>
